/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* Quiz styling */
.quiz {
    background-color: pink;
    border-radius: 10px;
    box-shadow: plum;
    padding: 30px;
    width: 25rem;
}

.question {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.answers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.answer {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    cursor: pointer;
    color: #555;
}

.btn {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
